.smi{
    height: 30px;
    width:30px;
    border-radius: 15px;
    text-align:center;
    padding: 2px;;
}
.dotted{
    border-bottom:2px dashed maroon;
    border-top:2px dashed maroon;
}
.about{
    text-align: justify;
    font-size: 14px;
    color: rgb(67, 67, 67);
    font-weight:bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.border-dotted-marron{
    border-bottom:2px dotted maroon;
}
.b-maroon{
    border-bottom:2px solid maroon;
}
.anchor{
    text-decoration: none;
}

.text-maroon{
    color:maroon;
}
.text-maroon:hover{
     color: green !important;
    transition: color 0.3s ease;
}
.dropdown-border-white{
    border-top: 4px solid white;
    border-bottom: 4px solid white;
}
.text-grey{
    color:grey;
}
.btn-maroon{
    background-color: maroon;
    color:white;
}
.btn-maroon:hover{
    background-color: maroon !important;
    color:white;
    transition: color 0.3s ease;
}
.bg-maroon{
    background-color: maroon;
}
.nav-link{
color: white;
}
  /* Dropdown item पर hover करने पर text green हो जाएगा */
  .navbar-nav .nav-link:hover {
  color: green !important;
  transition: color 0.3s ease;  /* smooth animation */
}
  .dropdown-menu .dropdown-item:hover {
    color: green !important;
    background-color: transparent !important; /* background same रहने दे */
  }
/* Hover par dropdown automatically open ho jaye */
.nav-item.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0; /* menu ko smooth dikhata hai */
}
.border-dased-maroon{
    border-top: 2px dotted maroon;
    border-bottom: 2px dotted maroon;
}
/*slider start*/
.marquee-box{
    max-height:250px;
    text-align: justify;
   /* // background-color: black; */
   overflow: hidden;
}
.bg-lightyellow{
    overflow: hidden;
    background-color: rgba(252, 252, 130, 0.575);
}
/*slider end*/
.heading::after{
    content:'';
    height: 3px;
    width: 50px;
    background-color: green;
    position: absolute;
    margin-top: 45px;
    left: 50%;
}
.heading::before{
    content:'';
    height: 1px;
    width: 110px;
    background-color: grey;
    position: absolute;
    margin-top: 46px;
    left: 48%;
}
.heading{
    color:rgb(63, 59, 59);
}
.pm{
    height:320px;
    background: linear-gradient(90deg , rgba(150,0,0,0.9) , rgba(150,0,0,0.9)),url(../images/back.jfif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
/*swiper*/
swiper-container {
      width: 100%;
      height: 100%;
    }

    swiper-slide {
      text-align: center;
      font-size: 18px;
      /*background: #444;*/
      display: flex;
      justify-content: center;
      align-items: center;
    }

    swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
/*swiper end*/
.sis{
     height:320px;
    background: linear-gradient(0deg , rgba(150,0,0,0.5) , rgba(150,0,0,0.5)),url(../images/back.jfif);
    background-position: center;
    background-size: cover;
   /* background-repeat: no-repeat;*/
    background-attachment: fixed;

}
/*STATISTICSOF EDUCATION*/
.logo{
    height:100px;
    width:100px;
    border:1px solid maroon;
    border-radius:50px;
     text-align: center;
     color:maroon;
     font-size:50px;
     margin-top:30px;
     margin-left:45px;
     padding-top:5px;
     transition: all 0.4 ease-in;
}
.logo:hover{
    background-color: maroon;
    color:white;
    transform:scale(1.1);
    box-shadow:0 0 20px rgba(128,0,0,0.5);
}
.num{
    font-size: 35px;
    margin-left:60px;
    margin-top:25px;
}
.numtext{
    font-size:20px;
    margin-top:-35px;
    margin-left:30px;
}
/*STATISTICSOF EDUCATION end*/

.copy{
    background-color: rgb(104, 4, 4);
}
.text-grey{
    color:rgb(100, 100, 100);;
}
/*card */
.card-set{
    max-height:600px;
    max-width:250px;
    margin-left:65px;
    box-shadow:3px 3px 10px;
    transition:transform 0.3s ease;
}
.card-set:hover{
    background-color:white;
    transform: scale(1.05);
}
.card-img{
    height:200px;
    width:200px;
    box-shadow:3px 3px 10px;
}
/*card end*/
/*our galler*/
.box{
    height: 250px;
    max-width: 400px;
    overflow: hidden;
}
.box img{
    height:100%;
    transition: 0.4s ease-in;
}
.icon{
    position:absolute;
    margin-top:-50px;
    margin-left: 20px;
    color: white;
    display: none;
}
.box:hover img{
    transform:scale(1.1);
    opacity:0.7;

}
.box:hover .icon{
    display:block;
}
/*our gallery*/
/* side vala admission*/
.btna{
    position: fixed;
    top:500px;
    transform: rotate(-90deg);
    right:-66px;
    animation: blink1 2s infinite;
   }
   @keyframes blink1 {
    0%{

    }
    50%{
        background-color: maroon;
        color:white;
    }
    75%{
        background-color: rgb(237,183,5);
        color:maroon;
    }
    100%{
        background-color: maroon;
        color:white;
    }
   }
/* side vala admission end*/
.btn-arrow{
    position: fixed;
    bottom: 20px;
    right:20px;
}
/*side vala enquiry*/
.btne{
    position: fixed;
    top:270px;
    transform: rotate(90deg);
    left:-55px;
    animation: blink 2s infinite;
   }
   @keyframes blink {
    0%{

    }
    50%{
        background-color: maroon;
        color:white;
    }
    75%{
        background-color: rgb(237,183,5);
        color:maroon;
    }
    100%{
        background-color: maroon;
        color:white;
    }
   }
/* side vala enquiry end*/
/*footer start*/
.foot-icon{
    margin-top:-40px;
    margin-left:-60px;
}
.border-foot{
    border-bottom:1px solid white;
}
.foot{
    font-size:22px;
}
.te-size{
    font-size: 15px;
    line-height:2.3;
}
.te-size1{
    font-size: 15px;
    line-height:1.5;
}
.unlist li{

    list-style-type: none;
    margin-left:-30px;
}
.unlist li a{
    color:white;
    text-decoration: none;
}
.unlist li a:hover{
    color:rgb(248, 203, 3);
    
}
/*RULE START*/
.rule-img{
    height:290px;
    max-width:400px;
    box-shadow:3px 3px 10px;
}
.rule{
    text-align: justify;
    font-size: 14px;
    color: rgb(67, 67, 67);
    font-weight:bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/*RULE END*/
/*vision*/
.vision-margin{
    margin-top:-20px;
}
.mission-margin{
    margin-top:-37px;
}
.b-maroon{
    border-bottom:1px solid maroon;
}
/*vision end*/
/*about*/
.estab-margin{
    margin-top:-39px;
}
/*aboutend*/